<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一  接口的全限定类名-->
<mapper namespace="com.nowcoder.community.dao.CommentMapper">
    <sql id="selectFields">
        id,user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>

    <sql id="insertFields">
        user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <insert id="insertComment" parameterType="Comment" keyProperty="id">
        insert into comment (<include refid="insertFields"/>)
        values (#{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </insert>

    <select id="selectCommentsByEntity" resultType="Comment" >
        select <include refid="selectFields"/>
        from comment
        where status = 0
          and entity_id = #{entityId}
          and entity_type = #{entityType}
        order by create_time asc
        limit #{offset}, #{limit};
    </select>
    <select id="selectCommentCountByEntity" resultType="java.lang.Integer">
        select count(*)
        from comment
        where status = 0
          and entity_id = #{entityId}
          and entity_type = #{entityType};
    </select>
</mapper>
